@charset "utf-8";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
	display: flex;
	justify-content: center;
}
#contenedor {
	width: 90vw;
	height: auto;
	background-color: #EBEBEB;
	display: grid;
	grid-template-rows: 10vh auto auto auto auto 20vh;
}
#contenedor nav {
    background-color: #a10017;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 2fr repeat(5,1fr);
    top: 0px;
	z-index: 10;
	position: sticky;
	align-content: center;
	text-align: center;
	align-items: center;
}
nav div a {
	color: black;
	text-decoration: none;
	font-family: "kepler-std-subhead", serif;
	font-size: 20px;
	font-style: italic;
}
#contenedor main {
	display: flex;
	grid-row: 2/3;
	grid-column: 1/2;
	content: inherit;
	place-content: center;
	align-items: center;
	aspect-ratio: 16/9;
}
#video {
	position: relative;
	top: 0;
	bottom: 0;
    width: 100%;
    height: auto;
	min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    z-index: 1;
}
#contenedor main #texto {
	z-index: 5;
	position: absolute;
	display: flex;
}
#texto p {
	display: flex;
	width:300px;
	height: 200px;
	padding: 10px;
	color: #FFFFFF;
	background-color: rgba(57,57,57,0.50);
	text-align: center;
	align-items: center;
}
#texto .border {
	border-right: 1px solid;
}
#contenedor #sec-1 {
	background-color: #c43c3c;
    display: grid;
    padding: 10px;
    grid-row: 3/4;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-gap: 10px;
    z-index: 0;
}
section article img {
	object-fit: cover;
	aspect-ratio: 3/4;
	height: auto;
	width: 100%;
}
#contenedor #sec-2 {
    display: grid;
    grid-row: 4/5;
	padding: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
	grid-gap: 10px;
    align-items: center;
}
#div1 {
    grid-row: span 2 / span 2;
}
#div1 img {
	object-fit: cover;
	aspect-ratio: 3/4;
	height: auto;
	width: 100%;
}
.div2 {
    grid-column-start: 2;
	/*background-color: #bc010a;*/
}
#sec-2 .div2 p {
	display: flex;
}
.sec3 {  
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 10px;
	padding: 10px;
	grid-auto-flow: row;
}
.Tarjeta-1 {  
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	gap: 10px;
	padding: 10px;
	grid-auto-flow: row;
	background-color: #c43c3c;
	grid-area: 1 / 1 / 2 / 3;
}
.imgt1 { 
	grid-area: 1 / 1 / 2 / 2; 
}
.Tarjeta-1 .imgt1 img {
	max-width: 100%;
	height: auto;
	aspect-ratio: 16/9;
	object-fit: cover;
}
.text1 { 
	grid-area: 1 / 2 / 2 / 3;
}
.Tarjeta-1 .text1 h2 {
}

.Tarjeta-1 .text1 p {
}


.Tarjeta-2 {  
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, 1fr);
	gap: 10px;
	padding: 10px;
	grid-auto-flow: row;
	background-color: #c43c3c;
	grid-area: 2 / 1 / 4 / 2;
}
.imgt2 { 
	grid-area: 2 / 1 / 3 / 2;
	grid-row: 3/2;
}
.Tarjeta-2 .imgt2 img {
	max-width: 100%;
	height: auto;
	aspect-ratio: 16/9;
	object-fit: cover;
}
.tex2 { 
	grid-area: 1 / 1 / 2 / 2;
	text-align: center;
	align-items: center;
}
.Tarjeta-2 .tex2 h2 {
}
.Tarjeta-2 .tex2 p {
}

.Tarjeta-3 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, 1fr);
	gap: 10px;
	padding: 10px;
	grid-auto-flow: row;
	background-color: #c43c3c;
	grid-area: 1 / 3 / 3 / 4;
}
.imgt3 { 
	grid-area: 1 / 1 / 2 / 2; 
}
.Tarjeta-3 .imgt3 img {
	max-width: 100%;
	height: auto;
	aspect-ratio: 16/9;
	object-fit: cover;
}
.tex3 { 
	grid-area: 2 / 1 / 3 / 2; 
}
.Tarjeta-3 .tex3 h2 {
}
.Tarjeta-3 .tex3 p {
}


.Tarjeta-4 {  
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	gap: 10px;
	padding: 10px;
	grid-auto-flow: row;
	background-color: #c43c3c;
	grid-area: 3 / 2 / 4 / 4;
}
.imgt4 { 
	grid-area: 1 / 2 / 2 / 3; 
}
.Tarjeta-4 .imgt4 img {
	max-width: 100%;
	height: auto;
	aspect-ratio: 16/9;
	object-fit: cover;
}
.tex4 { 
	grid-area: 1 / 1 / 2 / 2; 
}
.Tarjeta-4 .tex4 h2 {
}

.img { 
	grid-area: 2 / 2 / 3 / 3; 
}
.sec3 .img img {
	max-width: 100%;
	height: auto;
	aspect-ratio: 16/9;
	object-fit: cover;
}

#contenedor footer {
    display: grid;
    background-color: #a10017;
    grid-row: 6/7;
}

#derechos {
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #444;
    padding: 20px;
    width: 100%;
    height: 50px;
    float: left;
}